{% extends "main.jinja2" %}
{% block header_title %}Listen - {{ title }}{% endblock %}
{% block main_content %}
<section class="section">
  <div class="container">
    <h1 id="event" class="is-size-1">{{ name }}</h1>
    <h2 id="show" class="is-size-2">{{ show }}</h2>
    <h3 id="presenter" class="is-size-3">{{ presenter }}</h2>
    <div class="columns" id="streaminfo">
      <div class="column">
        <h3 id="artist" class="is-size-3"></h3>
        <h4 id="title" class="is-size-3"></h4>
        <audio controls="controls" preload="none" id="player">
          <source src="http://canigoo.com:8000/canigoo.ogg" type="application/ogg" id="source-ogg"></source>
          <source src="http://canigoo.com:8000/canigoo.mp3" type="audio/mp3" id="source-mp3"></source>
        </audio>
      </div>
      <div class="column">
        <div id="trackinfo"></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block bottom_script %}
<script type="text/javascript">
  window.onload = function() {
    const player = document.getElementById('player'); // the player element
    const stream_url_ogg = document.getElementById('source-ogg').src += "?nocache=" + (+new Date).toString(36).slice(-5);
    const stream_url_mp3 = document.getElementById('source-mp3').src += "?nocache=" + (+new Date).toString(36).slice(-5);
    const url = 'api/v1/on-air';

    function createNode(element) {
      return document.createElement(element);
    }

    function append(parent, el) {
      return parent.appendChild(el);
    }

    function getData() {
      return fetch(url).then(res => res.json()).catch(err => Promise.reject(err));
    }

    function displayData() {
      getData().then((data) => {
          console.log(data)
        if (data.hasOwnProperty('errors')) {
          console.log("error fetching current track meta")
        } else {
          let track = data['meta']
          document.getElementById('title').innerHTML = track['title'];
          document.getElementById('artist').innerHTML = track['artist'];
        }
      });
    }
    displayData();
    setInterval(displayData, 15000);
  }
</script>
{% endblock %}
